<span>
    <span class="filmtitle">{{currentFilm.title}}</span>
    <a class="backfilm waves-effect waves-light large btn" href="/"><i class="large material-icons right">arrow_back</i>Вернуться к фильмам</a>
</span>

<div class="filmpage">
    <div class="img">
        <img src="{{currentFilm.img}}" width="200" alt="{{currentFilm.title}}">
    </div>
    <div class="info">
        <div>Год выпуска: {{currentFilm.year}}</div>
        <div>Жанр: {{currentFilm.genre}}</div>
        <div>Описание: {{currentFilm.description}}</div>
    </div>
    <div class="buttonsfilm">
        <a href="{{currentFilm.id}}/edit?allow=true" class="waves-effect waves-light btn"><i class="material-icons right">edit</i>Редактировать</a>
        <a href="{{currentFilm.id}}/delete" class="waves-effect waves-light btn-delete btn"><i class="material-icons right">delete</i>Удалить</a>
    </div>
</div>



    
