<h1 class="mainTitle" >Lumer's - энциклопедия кино!</h1>

<div class="parent">
    <form action=""></form>
    <div class="search" id="searchWrapper">
        <input id="search" type="text" name="searchBar" placeholder="Введите название фильма" >
    </div>
    <div class="buttonSearch">
        <a class="waves-effect waves-light btn" type="submit"><i class="material-icons">search</i></a>
    </div>
    <div class="buttonAdd">
        <a href="/addfilm" class="waves-effect waves-light large btn-large"><i class="large material-icons right">add_box</i>Добавить фильм</a>
    </div>
</div>


<div class="meet">Д</div>


<div class="sort"> 
    <span>Сортировать по:</span>
    <button id="titleAZ" class="waves-effect waves-light btn-small">Названию (А-Я)</button>
    <button id="titleZA" class="waves-effect waves-light btn-small">Названию (Я-А)</button>
    <button id="yearHigh" class="waves-effect waves-light btn-small">Году выпуска (по возрастанию)</button>
    <button id="yearDown" class="waves-effect waves-light btn-small">Году выпуска (по убыванию)</button>
</div>

<div id="nav" class="parent">
{{#if allfilms.length}}
{{#each allfilms}}
    <div class="nav-item card horizontal z-depth-3" year-sort="{{year}}" title-sort="{{title}}">
        <div class="card-image">
            <img  height="250" src={{img}}>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="titleHead">{{title}}</div>
                <div>Жанр: {{genre}}</div>
                <div>Год выпуска: {{year}}</div>
                <div class="description">Описание: {{description}}</div>
            </div>
            <div class="card-action">
                <span class="buttonFilm">
                    <a href="/{{id}}" class="waves-effect waves-light btn-small"><i class="material-icons right">dehaze</i>Подробнее</a>
                </span>
            </div>
        </div>
    </div>
{{/each}}
</div>
{{else}}
<div class="empty">
    <div>Библиотека фильмов пустая. Добавьте фильм, будьте первым!</div>
    <div><i class="material-icons medium">navigation</i></div>
</div>

{{/if}}

